@using musicReporting.Models.Interfaces
@using musicReporting.ViewModels
@model UserViewModel

@{
    ViewBag.Title = "View All Users";
}

<html>
    <head>
        <link href="~/css/site.css" rel="stylesheet" />
    </head>

    <body>
        <a class="btn btn-outline-primary btn-sm" asp-controller="User" asp-action="Add">Add User</a>
        
    

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Users.Count() > 0){
            foreach(var user in Model.Users)
            {
                <tr>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                        <td><a class="btn btn-outline-primary btn-sm" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id"> Edit user</a>
                            <a class="btn btn-outline-primary btn-sm" asp-controller="User" asp-action="ViewUser" asp-route-id="@user.Id"> View user</a>
                            <a class="btn btn-outline-danger btn-sm" asp-controller="User" asp-action="Delete" asp-route-id="@user.Id"> Delete user</a>
                        </td>
                </tr>

            }

            }

                else
                {
                <tr>No users!</tr>
                }
            </tbody>
    </table>

             
    </body>
</html>